{% extends 'backend/base.html'  %}

{% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="searchser">Informe o nome do voluntário: </label>
      <input type="text" id="searchuser" name="searchuser" class="form-control"
        placeholder="Informe o nome do voluntário que deseja procurar...">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
  </form>
  <!-- List users -->
  <br>
  <div class="row">
    {% if users %}
    <div class="col-xl-2 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <img class="card-img-top" src="{{ users.avatar.url }}" alt="Card imge cap">
        <div class="card-body">{{ users.user.first_name }} {{ users.user.last_name }}</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="#">Visualizar perfil</a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% endblock %}

  {% block teste %}
  <div class="row">
    {% if usrs %}
    {% for usr in usrs %}
    <div class="col-xl-2 col-md-6">
      <div class="card bg-primary text-white mb-4">
        <img class="card-img-top" src="{{ usr.avatar.url }}" alt="Card imge cap">
        <div class="card-body">{{ usr.user.first_name }} {{ usr.user.last_name }}</div>
        <div class="card-footer d-flex align-items-center justify-content-between">
          <a class="small text-white stretched-link" href="#">Visualizar perfil</a>
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  {% endblock %}
</div>